<!doctype html>
<html>
<head><title>Order Service</title>
<script>
  (function(s,t,a,n){s[t]||(s[t]=a,n=s[a]=function(){n.q.push(arguments)},
  n.q=[],n.v=2,n.l=1*new Date)})(window,"InstanaEumObject","ineum");

  ineum('reportingUrl', 'https://automation.ibmce-kr.com/eum/');
  ineum('key', 'YQr53nnRRxe_hgOyPtCdIQ');
  ineum('trackSessions');

  // Custom Data
  ineum('page', 'order service');
  ineum('meta', 'version', '1.0.0');
  ineum('meta', 'userRole', 'admin);
  ineum('user', 'testuser', 'test@test.com');
</script>
<script defer crossorigin="anonymous" src="https://automation.ibmce-kr.com/eum/1.7.5/eum.min.js" 
 integrity="sha384-HJjb3vveemdYNUfM1D28dTeXpPPbwPWJinH9ldaGt3KxCO0PNRc4Jb3oQIxMmJMk"></script>
</head>
<body>
  <h1>주문 정보 (order-service)</h1>
  <p>Order ID: {{ order_id }}</p>
  <h2>주문 상품 목록</h2>
  <ul>
    {% for p in products %}
      <li>{{ p.id }} - {{ p.name }}</li>
    {% endfor %}
  </ul>
  <p><em>상품 목록은 product-service에서 받아옴</em></p>
</body>
</html>

